@import "tailwindcss";
@plugin "daisyui";

.activeLink a.active{
    color: rgb(25, 168, 168);
    /* border-bottom: 2px solid green; */
}

.linkByImage{
    width: 150px;
    z-index: 5;
    padding: 20px;
}

.linkByImage a:hover{
    color: teal;
}
.mobileLinks{
    padding: 10px;
}
.mobileLinks a{
    margin: 5px 10px;
}
