@import "tailwindcss";
@plugin "daisyui";

.activeLink a.active{
    color: rgb(25, 168, 168);
    /* border-bottom: 2px solid green; */
}

.linkByImage{
    width: 150px;
    z-index: 5;
    padding: 20px;
}
.activeLink a:hover{
    color: teal;
}

.linkByImage a:hover{
    color: teal;
}
.mobileLinks{
    padding: 10px;
}
.mobileLinks a{
    margin: 5px 10px;
}
.asideDash a{
  border: 2px solid rgb(190, 186, 186);
  border-radius: 10px;
  padding: 5px 10px;
}
.asideDash a:hover{
  background-color: rgb(205, 214, 214);
}
.asideDash a.active{
  background-color: silver;
  color: green;
}